* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: auto;
  padding: 1em;
}

.page {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  height: 14em;
  width: auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 2em;
  margin-bottom: 1em;
}

button {
  padding: 0 .5em;
  cursor: pointer;
}